.site-footer {
    .widget-title {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        letter-spacing: 0;
        font-weight: bold;
        font-size: 22px;
        color: #FFFFFF;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        padding-bottom: 10px;
        display: inline-block;
    }
    p {
        margin-bottom: 10px;
    }
    i {
        width: 16px;
        font-size: 16px;
    }
    .social {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        ul {
            margin: 0;
            padding: 0;
        }
    }
    .social-menu {
        .menu {
            margin: 0;
            padding: 0;
            width: 100%;
            li {
                display: inline-block;
                padding: 0;
                margin: 0 !important;
                line-height: 36px;
                width: 49% !important;
                float: left;
                text-align: left;
                border: none !important;
                background: none !important;
                a {
                    font-size: 15px;
                    &:before {
                        margin: 0;
                        color: inherit;
                        line-height: 32px;
                        font-size: 14px;
                        width: 12px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .menu {
        margin: 0;
        padding: 0;
        font-weight: 300 !important;
        li {
            margin-bottom: 15px;
            list-style-type: none;
            vertical-align: top;
            @extend %transit;
            &:hover {
                a {
                    margin-left: 5px;
                }
            }
        }
    }
}

.copyright {
    overflow: hidden;
    line-height: 1;
    border-top: 1px solid rgba(255, 255, 255, .1);
    .copyright-right {
        a {
            margin-left: 30px;
        }
    }
}

/* responsive */

@include media-breakpoint-up(md) {
    .site-footer {
        .menu {
            li {
                display: inline-block;
                width: 49%;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .site-footer .social-menu .menu li {
        text-align: center;
    }
    .col-md-4 {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .copyright {
        .copyright-left, .copyright-right {
            text-align: center !important;
            line-height: 1.8em;
        }
        .copyright-right {
            margin-top: 15px;
            a {
                margin-left: 10px;
            }
        }
    }
}